* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #ffbfbf;
}

#root div{
  width: 100%;
  height: 100vmin;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#runaway-btn {
  position: fixed;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
  height: 4rem;
  width: 10rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px black;
  background-color: #bfebff;
  color: #ff0000;
  font-weight: bold;
  cursor: pointer;
}

#other-btn {
  position: fixed;
  top: 70%;
  left: 40%;
  transform: translate(-50%, -50%);
  height: 4rem;
  width: 10rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px black;
  background-color: #bfebff;
  color: #ff0000;
  font-weight: bold;
  cursor: pointer;
}

img {
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#text-main{
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  font-weight: bolder;
  font-size: 2.5rem;
  color: #ff0000;
  text-align: center;
}


@media (max-width: 800px) {
  #text-main{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    font-size: 1.5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 45%;
  }

  #runaway-btn{
    width: 30%;
    position: fixed;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #other-btn {
    width: 30%;
    position: fixed;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

  @media (max-height: 700px) {
    #text-main{
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: fixed;
      font-size: 1.5rem;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 35%;
    }

    #runaway-btn{
      height: 15%;
      width: 20%;
      position: fixed;
      top: 85%;
      left: 62%;
      transform: translate(-50%, -50%);
    }

    #other-btn {
      height: 15%;
      width: 20%;
      position: fixed;
      top: 85%;
      left: 38%;
      transform: translate(-50%, -50%);
  }
}

  @media screen and (orientation: portrait) and (max-height: 700px) and (max-width: 800px) {
    #text-main{
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: fixed;
      font-size: 1.5rem;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 75%;
    }

    #runaway-btn{
      height: 10%;
      width: 30%;
      position: fixed;
      top: 85%;
      left: 70%;
      transform: translate(-50%, -50%);
    }

    #other-btn {
      height: 10%;
      width: 30%;
      position: fixed;
      top: 85%;
      left: 30%;
      transform: translate(-50%, -50%);
    }
  }
